<h1>You signed in with <%= current_user.email %></h1>

<div class="row">
  <h2>
    All users
  </h2>
  <section>
    <%= render 'users/shared/users_list' %>
  </section>
</div>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p><%= @user.email %></p>
    </section>
    <section class="micropost_form">
      <%= render 'microposts/shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Micropost Feed</h3>
    <%= render 'microposts/shared/feed' %>
  </div>
</div>
