<ol>
  <% micropost.comments.each do |comment| %>
    <li>
      <span> Comment # <%= comment.id %> by </span>
      <span ><%= link_to comment.user.email %></span> <br>
      <span ><%= comment.content %></span> <br>
      <span >
        Comment left at <%= comment.created_at.getlocal.strftime("%H:%M %d.%m.%y") %>.
      </span> <br>
      <span><%= link_to "Delete", comment, method: :delete,
                                           action: :destroy,
                                           data: { confirm: "Are you sure?" } %></span>
    </li>
  <% end %>
</ol>
