<% if @microposts.present? %>
  <ol>
  <% @microposts.each do |micropost| %>
    <li>
      <span> Post # <%= micropost.id %> by </span>
      <span ><%= link_to micropost.user.email %></span> <br>
      <span ><%= micropost.content %></span> <br>
      <span >
        Posted at <%= micropost.created_at.getlocal.strftime("%H:%M %d.%m.%y") %>.
      </span> <br>
      <span><%= link_to "Delete", micropost, method: :delete,
                                           action: :destroy,
                                           data: { confirm: "Are you sure?" } %></span>
      <% if micropost.comments.present? %>
        <section>
          <%= render 'comments/shared/feed', micropost: micropost %>
        </section>
      <% end %>
      <section>
        <%= render 'comments/shared/comment_form', micropost: micropost %>
      </section>
    </li>
  <% end %>
  </ol>
<% else %>
    <span>
      You haven't created any micropost yet!
    </span>
<% end %>
